.header-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-navlink {
  display: contents;
}
.header-image {
  height: 2rem;
  text-decoration: none;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: flex-end;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.header-team-profile {
  transition: 0.3s;
  text-decoration: none;
}
.header-team-profile:hover {
  color: #5e1881;
}
.header-tools {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-tools:hover {
  color: #5e1881;
}
.header-project {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-project:hover {
  color: #5e1881;
}
.header-artifacts {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-artifacts:hover {
  color: #5e1881;
}
.header-skills-and-jobs {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-skills-and-jobs:hover {
  color: #5e1881;
}
.header-references {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-references:hover {
  color: #5e1881;
}
.header-root-class-name {
  align-self: flex-start;
}
.header-root-class-name1 {
  align-self: center;
}










@media(max-width: 767px) {
  .header-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-nav {
    display: none;
  }
  .header-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .header-team-profile {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-tools {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-project {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-artifacts {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-skills-and-jobs {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-references {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
}

.footer-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(217, 217, 217, 0.23);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #272727;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-footer {
  width: 100%;
  height: 54px;
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.footer-all-content-has-been-produced-and-published-by-michelle-helia-and-blayne {
  color: #ffffff;
  align-self: flex-start;
  text-align: center;
}

.footer-root-class-name1 {
  align-self: center;
}



























.group-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.group-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.group-text {
  font-size: 3rem;
  align-self: center;
  margin-bottom: 32px;
}
.group-career-plan-differences {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-doubleunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.group-container2 {
  width: 70%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.group-image {
  color: var(--dl-color-gray-black);
  width: 406px;
  height: 700px;
  align-self: center;
  text-align: left;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.group-career-plan-thoughts {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.15rem;
  align-self: flex-start;
  text-align: left;
  line-height: 1.2;
  margin-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.group-group-processes {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-doubleunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.group-group-processes1 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.15rem;
  align-self: center;
  text-align: left;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.group-container3 {
  width: 70%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.group-container4 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.group-image1 {
  width: 400px;
  object-fit: cover;
}
.group-container5 {
  width: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.group-image2 {
  width: 400px;
  object-fit: cover;
}
.group-image3 {
  width: 400px;
  object-fit: cover;
}
.group-image4 {
  width: 400px;
  object-fit: cover;
}
.group-text11 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-doubleunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.group-text12 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.15rem;
  align-self: center;
  text-align: left;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.group-text13 {
  font-style: normal;
  font-weight: 600;
}
.group-text18 {
  font-weight: 500;
}
.group-text24 {
  font-style: normal;
  font-weight: 600;
}
.group-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.group-group-reflection {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-doubleunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.group-group-reflection1 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.15rem;
  align-self: center;
  text-align: left;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.group-image5 {
  align-self: center;
  object-fit: cover;
}
.group-group-processes2 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 1.15rem;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: left;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .group-text {
    text-align: center;
  }
  .group-career-plan-differences {
    text-align: center;
  }
  .group-image {
    text-align: center;
  }
  .group-career-plan-thoughts {
    text-align: center;
  }
  .group-group-processes {
    text-align: center;
  }
  .group-group-processes1 {
    text-align: center;
  }
  .group-text11 {
    text-align: center;
  }
  .group-text12 {
    text-align: center;
  }
  .group-group-reflection {
    text-align: center;
  }
  .group-group-reflection1 {
    text-align: center;
  }
  .group-group-processes2 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .group-text {
    text-align: center;
  }
}
