<div>
  <link href="./header.css" rel="stylesheet" />
  <header data-role="Header" class="header-header">
    <a href="index.html" class="header-navlink">
      <img
        alt="logo"
        src="public/playground_assets/traqstarz%20%5B3%5D-1500h.png"
        class="header-image"
      />
    </a>
    <div class="header-nav">
      <nav class="header-nav1">
        <a href="team-profile.html" class="header-team-profile">
          <span>Team Profile</span>
        </a>
        <a href="tools.html" class="header-tools"><span>Tools</span></a>
        <a href="project.html" class="header-project"><span>Project</span></a>
        <a href="artifacts.html" class="header-artifacts">
          <span>Artifacts</span>
        </a>
        <a href="skillsand-jobs.html" class="header-skills-and-jobs">
          <span>Skills and Jobs</span>
        </a>
        <a href="references.html" class="header-references">
          <span>References</span>
        </a>
      </nav>
    </div>
  </header>
</div>
