.header-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-navlink {
  display: contents;
}
.header-image {
  height: 2rem;
  text-decoration: none;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: flex-end;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.header-team-profile {
  transition: 0.3s;
  text-decoration: none;
}
.header-team-profile:hover {
  color: #5e1881;
}
.header-tools {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-tools:hover {
  color: #5e1881;
}
.header-project {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-project:hover {
  color: #5e1881;
}
.header-artifacts {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-artifacts:hover {
  color: #5e1881;
}
.header-skills-and-jobs {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-skills-and-jobs:hover {
  color: #5e1881;
}
.header-references {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.header-references:hover {
  color: #5e1881;
}
.header-root-class-name {
  align-self: flex-start;
}
.header-root-class-name1 {
  align-self: center;
}










@media(max-width: 767px) {
  .header-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-nav {
    display: none;
  }
  .header-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .header-team-profile {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-tools {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-project {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-artifacts {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-skills-and-jobs {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-references {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
}
